body {
  background-color: rgb(231, 231, 231);
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 80%;
}

summary {
  text-align: center;
  text-indent: -5px;
  cursor: pointer;
}

.ul-base li {
  list-style: none;
  background-color: #ff7c55;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  margin: 1%;
  text-indent: 0%;
}

/* Top Header */

.burger-menu {
  display: none;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
  padding: 1% 1% 1% 1%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #98e2ef;
  border-radius: 10px;
  margin: 20px 0 20px 0;
}

.bottom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
  padding: 1% 1% 1% 1%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a5e1fd;
  border-radius: 10px;
  margin: 20px 12% 20px 12%;
}

@media (max-width: 500px) {
  .bottom-container {
    margin: 20px 5% 20px 5%;
  }
}

.topelement:not(#ref) {
  padding: 10px;
  font-size: 27px;
  background-color: #73efbf;
  margin: 3px;
  border-radius: 10px;
  text-indent: 0%;
  transition: transform 0.3s ease;
  width: fit-content;
  height: auto;
  text-align: center;
}

.topelement:hover {
  transform: scale(105%);
}

@media (min-width: 2000px) {
  #topelement {
    font-size: 3vh;
  }
}

@media (max-width: 500px) {
  .topelement:not(#ref) {
    flex: 0 0 auto;
  }
  .burger-menu {
    display: block; /* Показываем кнопку */
    position: fixed;
    z-index: 100;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .top-container {
    position: fixed;
    width: auto;
    height: auto;
    transform: translateY(-140%);
    transition: transform 0.3s ease;
    padding: 20px 0 20px 0;
    overflow: hidden;
    z-index: 10;
    margin-top: 60px;
    left: 0px;
  }
  .top-container.active {
    transform: translateY(0); /* Показываем меню (опускаем вниз) */
    height: auto;
    overflow: hidden;
  }
}

/* Ref */
#ref {
  position: relative;
  list-style: none;
  display: inline;
  padding-left: 10px;
  top: 7px;
  margin: 0%;
  padding-right: 10px;
}

/* Header */

.head-banner {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (min-width: 2000px) {
  .head-banner {
    height: 700px;
  }
}

/* Стиль для изображения */
.head-banner-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../img/11WZ-5R20luCs111.jpg);
  background-size: cover;
  background-position: 80% 87%;
  filter: blur(5px);
}

/* Затемнение изображения для лучшей читаемости текста */
.head-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Затемнение */
  z-index: 1;
}

/* Стили для текста */
.head-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: bold;
  z-index: 2;
}

/* Main */

.text {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a5e1fd;
  font-size: clamp(23px, 2vw, 5vw);
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
  padding: 20px 30px 30px 30px;
  border-radius: 20px;
  text-indent: 30px;
  width: auto;
}

.wowcallout {
  background-color: #ff7c55;
  border-radius: 30px;
  padding: 2%;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.wowcallout::before {
  content: "😲";
}

.infocallout {
  background-color: #f3945d;
  border-radius: 30px;
  padding: 2%;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.infocallout::before {
  content: "🤔";
}

.callout {
  background-color: #72c9df;
  border-radius: 30px;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

/* Cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #72c9df;
  border-radius: 30px;
  justify-content: space-around;
}

.inner-card-container {
  display: flex;
  flex-direction: column;
  width: 28%;
  height: auto;
  /* параметр высоты автоматический, но максимальный */
  background-color: #f0d952;
  margin: 3% auto 3% auto;
  border-radius: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding: 10px 5px 10px 5px;
}

@media (max-width: 800px) {
  .card-container {
    flex-direction: column;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .width-more {
    width: -45%;
  }
  .inner-card-container {
    width: 70%;
    margin: 7% auto 7% auto;
  }
}

/* Banner */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3be39;
  padding: 15px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  font-size: clamp(20px, 2vw, 5vw);
  font-weight: 500;
  border-radius: 20px;
  margin: 10px 20vh 10px 20vh;
}

.mini {
  width: auto;
}

@media (max-width: 700px) {
  .banner {
    margin: 2% auto 2% auto;
  }
}

#bigger {
  font-size: 4vh;
  padding: 2%;
}

#evenbigger {
  font-size: 12vh;
  padding: auto;
}

.inside-card-icon {
  text-indent: -5px;
  text-align: center;
  font-size: clamp(75px, 100px, 3vh);
  margin: 0;
  padding: 3%;
}

.inside-card-text {
  text-indent: -0px;
  text-align: center;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 4%;
  padding-bottom: 1%;
  text-wrap: wrap;
}
/* Cards-end */

.title {
  text-align: center;
  text-indent: 0%;
  padding: 30px;
}

#flex-direction-row {
  flex-direction: row;
  width: 45%;
  .inside-card-text {
    margin: auto;
  }
}

@media (max-width: 800px) {
  #flex-direction-row {
    flex-direction: column;
    width: 60vw;
    height: auto;
  }
  .inside-card-text {
    padding-bottom: 2%;
  }
}

@media (min-width: 800px) {
  #phismat {
    margin-right: 4%;
  }

  #himbio {
    margin-left: 4%;
  }
}

@media (max-width: 700px) {
  #phismat {
    margin-right: auto;
  }
  #himbio {
    margin-left: auto;
  }
}

/* Photos */

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin: 20px 0 20px 0;
}

.nowrap {
  flex-wrap: nowrap !important;
}

.img-element {
  width: clamp(200px, 20vw, 100px);
  height: clamp(200px, 20vw, 100px);
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
  border-radius: 20px;
  padding: auto;
  position: relative;
}

.img-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 15px;
}

.video-circle {
  clip-path: circle(50% at center);
}

.video-circle:hover {
  clip-path: circle(100% at center);
  border-radius: 15px;
}

.img-element:hover {
  transform: scale(110%);
}

.gallery-callout {
  background-color: #72c9df;
  border-radius: 30px;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  height: clamp(20%, 25vh, 100%);
  width: clamp(20%, 25vh, 100%);
  text-align: center;
  text-indent: 0px;
}
@media (max-width: 500px) {
  .img-element {
    width: 35vw;
  }
  .gallery {
    justify-content: space-around;
  }
  .gallery-callout {
    width: 100%;
  }
}

/* Оверлей и увеличенное изображение */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay.open {
  display: flex;
}

.large-img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 200%;
  cursor: pointer;
}

.close-btn:hover {
  color: #ccc;
}
/* Map */

#map {
  display: flex;
  height: 35vh;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-indent: 0px;
}

.leaflet-control-attribution {
  display: none !important;
}

.image {
  width: 100%;
}
/* Footer */

.footer {
  font-size: 1, 5vh;
}

#jumpToTopBtn {
  cursor: pointer;
}

/* li emoji */
#inf {
  list-style: "💻";
}

#book {
  list-style: "📖";
}

#sport {
  list-style: "🏐";
}

#cab {
  list-style: "🚪";
}

/* Proph Classes */
#proph {
  text-indent: -0px;
  font-size: 25px;
}
#esnat {
  list-style-type: "🍏🧪";
  padding: 5px;
}

#socgum {
  list-style-type: "🫂🗿";
  padding: 5px;
}

#socec {
  list-style-type: "💹🪙";
  padding: 5px;
}

#socmat {
  list-style-type: "💻💹";
  padding: 5px;
}

#phismat {
  list-style-type: "🔬👨‍🔬";
  padding: 5px;
}

#heart {
  list-style-type: "❤️";
  padding: 5px;
}

#heart-letter {
  list-style-type: "💌";
  padding: 5px;
}

#camera {
  list-style-type: "📷";
  padding: 5px;
}
/* Tst */
